* @actions/virtual-environments-owners
* @ZachryTylerWood/Vscode
* @iixixi
* @zachryiixixiiwood@gmail.com

###On::/:':Presses::'::starts:'::/::Run:':'::Runs:':':Build::':':Script::':'::Automates::'::Build::'"Scripts": 'require':' '"tests"''

"build_scripts":"construction":,

"construction":"Automates":,

"Automates":"Automate":,

"Automates::/Runs::/":"map_charset=_new=_$_obj":,

"metadata":"keycharset="new"_"map_charset"=(TRUE("("{fedtag}","FORM")")",".,'"XLS,""¡delimiter,""#,"=,""(BITOR)":,

':':'"BITORE'"'=','"'('"'delimiter'"')','"'.excel'"')'"''

